$surge-box-model: border-box !default;
$surge-box-model: if( $surge-box-model == true, border-box, $surge-box-model );

$surge-separator: "-" !default;
$surge-name: "surge" !default;
$surge-prefix: if( $surge-name == "", "", "#{$surge-name}#{$surge-separator}" );

$surge-grid-name: "grid" !default;
$surge-column-name: "column" !default;

$surge-small-column-max: 24 !default;
$surge-large-column-max: 10 !default;

$surge-divisors: 1 2 3 4 5 6 7 8 9 10 11 12 !default;

$surge-responsive: (
    "tablet": 48em,
    "desktop": 72em,
    "large": 100em
) !default;
